/* Specific styles for the App component. */
@reference "./index.css";
@import "swiper/css";


.bg-bottom-svg {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23D3DBE8" fill-opacity="1" d="M0,192L60,202.7C120,213,240,235,360,218.7C480,203,600,149,720,128C840,107,960,117,1080,133.3C1200,149,1320,171,1380,181.3L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>') no-repeat bottom;
    background-size: contain;
}

.scrollbar-hidden {
    scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
    @apply hidden;
}

.main-area-cont .facility-cont,
.main-area-cont .video-cont {
    min-width: calc(12.75rem * (16 / 9));
}

.video-size {
    background-color: var(--color-brnd-secondary);
    aspect-ratio: 16 / 9;
    min-height: 12.75rem;       /* 204px */
    z-index: 15;
}

.video-controls-cont {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0.75rem 0.5rem;
}

.video-controls {
    position: relative;
    z-index: 22;
}

.controls-gradient-overlay {
    @apply absolute w-full h-[11rem] bottom-0 left-0 right-0;
    z-index: 21;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.onboard-section {
    z-index: 14;
}

.onboard-section.is-open-onboard {
    z-index: 25;
}

.onboard-section.is-open-onboard .onboarding-overlay {
    @apply visible opacity-100;
}

.onboarding-overlay {
    @apply invisible opacity-0 fixed w-full h-full;
    z-index: -1;
    inset: 0;
    background: rgba(0, 0, 0, .7);
    transition: all .3s;
}

#carousel-cont > .modal-box {
    @apply p-2 pt-12 bg-neutral-900/86 text-white;
}

.carousel-toolbar {
    @apply flex flex-row-reverse justify-between absolute inset-x-0 top-0;
    background: linear-gradient(0deg,transparent 0,
        rgba(0,0,0,.006) 8.1%,
        rgba(0,0,0,.021) 15.5%,
        rgba(0,0,0,.046) 22.5%,
        rgba(0,0,0,.077) 29%,
        rgba(0,0,0,.114) 35.3%,
        rgba(0,0,0,.155) 41.2%,
        rgba(0,0,0,.198) 47.1%,
        rgba(0,0,0,.242) 52.9%,
        rgba(0,0,0,.285) 58.8%,
        rgba(0,0,0,.326) 64.7%,
        rgba(0,0,0,.363) 71%,
        rgba(0,0,0,.394) 77.5%,
        rgba(0,0,0,.419) 84.5%,
        rgba(0,0,0,.434) 91.9%,
        rgba(0,0,0,.446) 100%);
}

.carousel-btn {
    z-index: 30;
}

.carousel-btn > .icon {
    @apply drop-shadow-[1px_1px_1px_rgba(0,0,0,0.4)] w-auto h-[28px];
}

.carousel-btn.is-prev,
.carousel-btn.is-next {
    @apply absolute top-[44%] -translate-y-[-50%];
}

.carousel-btn.is-prev {
    left: 0.5rem;
}

.carousel-btn.is-next {
    right: 0.5rem;
}




/* Overwritten pre-build UI styles */
.divider::before,
.divider::after {
    height: calc(0.188rem * 0.5);       /* 1.5px */
}

.room-details > input:is([type="checkbox"], [type="radio"]),
.room-details > .collapse-title {
    padding: 0.75rem 3.063rem 0.75rem 1rem;
    @apply text-neutral-600 min-h-fit;
}

.room-details.collapse-arrow .collapse-title:after {
    top: 50%;
}

.tabs-border .tab {
    @apply rounded-lg font-medium;
}

.tabs-border .tab::before {
    @apply bottom-[-8px] w-[84%] left-[8%];
}

.tabs-border .tab:is(input:checked):before {
    --tab-border-color: var(--color-brnd-primary-50);
    border-color: var(--tab-border-color);
}

.tab:hover {
    @apply text-brnd-secondary bg-base-100/60;
}

.tabs-border .tab:is(input:checked) {
    @apply text-brnd-secondary bg-base-100;
}

.tooltip-neutral-800 {
    --tt-bg: var(--color-neutral-800);
}

.tooltip-brnd-primary {
    --tt-bg: var(--color-brnd-primary-50);
}

.tooltip-brnd-primary[data-tip]:before {
    @apply text-brnd-light ;
}

.tooltip.tooltip-xs[data-tip]:before {
    @apply px-[0.625rem] py-[0.313rem];
}

.tooltip[data-tip]:before {
    @apply px-[0.75rem] py-[0.5rem] max-w-[13.75rem] text-justify;
}

.custom-swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    @apply size-auto max-w-full max-h-full absolute top-[50%] left-[50%];
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}




/* Animations */
.slide-up {
    animation: slide-up 0.5s ease;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.slide-down {
    animation: slide-down 0.5s ease;
    animation-fill-mode: forwards;
}

@keyframes slide-down {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.2s ease;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-out {
    animation: fade-out 0.2s ease;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}




/* Media Queries */
@media (width >= 59.375rem) {
    .main-area-cont .facility-cont,
    .main-area-cont .video-cont {
        @apply overflow-y-auto;
    }

    .main-area-cont .facility-cont {
        @apply min-w-4xs w-4xs;
    }

    .tabs-border .tab::before {
        @apply h-[70%] w-1 left-[-8px] top-[15%];
    }
    
    .tabs-border .tab:is(input:checked) {
        @apply bg-base-300;
    }

    .tab:hover {
        @apply bg-base-300/60;
    }

    .video-size {
        flex: 0 0 auto;
        height: calc(100% - 13.75rem);
        max-height: calc(100vw / (16 / 9));
    }
}


@media (width >= 64rem) {
    #carousel-cont > .modal-box {
        @apply py-16 px-25;
    }

    .carousel-toolbar {
        @apply p-2;
    }

    .carousel-btn.is-prev {
        left: 40px
    }

    .carousel-btn.is-next {
        right: 40px
    }
}


@media (width >= 80rem) {
    .main-area-cont .facility-cont {
        @apply min-w-3xs w-3xs;
    }
}


@media (width >= 96rem) {
    .main-area-cont .facility-cont {
        @apply min-w-2xs w-2xs;
    }
}
