/* General styles for the entire application. */

@import "./fonts";
@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" { themes: light --default }
/*  Add the following line to daisyui to enable dark mode: { themes: light --default, dark --prefersdark; } */

@theme {
    --color-brnd-light: #F1F1F1;
    --color-brnd-muted: #D9D9D8;
    --color-brnd-primary: #00843A;
    --color-brnd-secondary: #00483A;
    --color-brnd-base: #E0E4EB;
    --color-brnd-base-50: #D3DBE8;

    --font-poppins: 'Poppins', sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

:root {
    font-family: var(--font-poppins);
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-neutral);
    background-color: var(--color-brnd-base);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
    /* :root {
        color: rgba(255, 255, 255, 0.87);
        background-color: #242424;
    } */
}
